
<div class="br-prototype-wrapper" {{!-- {{on 'keyup' this.toggleVisibility}} tabindex="-1" --}}>
  <div class="br-prototype-wrapper__content">
    {{outlet}}
  </div>
  {{#if this.visibility }}
  <div class="br-prototype-wrapper__nav">
    <div class="u-m-2">
      <div class="c-content">

        <p><button class="c-button c-button--secondary" {{on 'click' this.toggleVisibility}}>Close page tree</button></p>

        <h4 class="c-h6">Page index</h4>
        {{!-- <p>Press Ctrl+M to show the page index.</p> --}}
        <p>View the <LinkTo @route="styleguide">style guide</LinkTo>.</p>
      </div>

      <ul class="c-bordered-list">
        {{#each routeTree as |route|}}
          <li><a href="/{{route.url}}">{{route.name}}</a></li>
        {{/each}}
      </ul>

    </div>
  </div>
  {{/if}}
</div>
